<h1>The lists</h1>

<ul>
  <% @lists.each do |list| %>
  <li>
    <%= link_to "#{list.name}", list_path(list) %>
  </li>
<% end %>
</ul>

<button>
<%= link_to "Add new list", new_list_path %>
</button>
